<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Ürün Ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="productAddForm">

            <div class="mb-3">
              <label for="productId">Ürün Kimliği</label>
              <div class="form-group">
                <input
                  type="number"
                  id="productId"
                  formControlName="productId"
                  class="form-control"
                  placeholder="Ürün Id'si"
                />
              </div>
            </div>
  
            <div class="mb-3">
              <label for="brandId">Marka Kimliği</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="brandId"
                    formControlName="brandId"
                    class="form-control"
                    placeholder="Marka Id'si"
                  />
                </div>
            </div>
              
            
          
            <div class="mb-3">
              <label for="productName">Ürün Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="productName"
                  formControlName="productName"
                  class="form-control"
                  placeholder="Ürün Adı"
                />
              </div>
            </div>
  
            <div class="mb-3">
              <label for="price">Fiyat</label>
              <div class="form-group">
                <input
                  type="number"
                  id="price"
                  formControlName="price"
                  class="form-control"
                  placeholder="Fiyatı"
                />
              </div>
            </div>
            
            <div class="mb-3">
                <label for="size">Boyut</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="size"
                    formControlName="size"
                    class="form-control"
                    placeholder="Boyut"
                  />
                </div>
              </div>

              
            <div class="mb-3">
                <label for="description">Açıklama</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="description"
                    formControlName="description"
                    class="form-control"
                    placeholder="Açıklama"
                  />
                </div>
              </div>

              
            
  
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-success" (click)="add()">Ekle</button>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  